<div id="post-remove">
	<h4>Are you sure you want to delete this post?</h4>
	<%= image_tag @post.preview_url %>
	<%= button_to "Yes", :action => "destroy", :id => @post.id %> <%= link_to "No", :action => "view", :id => @post.id %>
</div>
